@font-face {
	font-family: 'WebFont_Yekan';
	src: url('nts/BYYekan.eot');
	src: local('☺'), url('tonts/an.woff') format('woff'), url('Fonts/Yekan.ttf') format('truetype'), url('Fonts/YekYekan.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
